        <footer>
            <hr>
            <div class = "container">
                Disclaimer: All information in this website is fictitious.
                The information on the website is used for educational purposes only.
            </div>
                <br>
                <br>
            <div class = "copyright">&copy;2020 The Tech Guys</div>
        </footer>
    </body>
</html>