<%- include ('partials/header.ejs') %>
    <body>
        <h1 class = "title">Add Product</h1>
        <main>
        <form action="/api/addProducts">
            <input type="text" placeholder = "Type make" name ="make" required/>
            <input type="text" placeholder = "Type model" name ="model" required/>
            <input type="text" placeholder = "Type manufacture" name ="manufacture" required/>
            <input type="text" placeholder = "Type type" name ="type" required/>
            $<input type="number" placeholder = "Type price" name ="price" min="0.01" step="0.01" max ="2500.00"  required/>
            <input type="text" placeholder = "Type description" name ="description" required/>
            <input type="text" placeholder = "Type pictureURL" name ="pictureURL" required/>
            <input type="number" placeholder ="Amount In Stock" name="quantity" min = "0" max = "100" required />
            <br><br>
            <button class="btn btn-warning">Update</button>
        </form>
        <!--Checks if product already exists throws err-->
        <% if (typeof loginError != "undefined" && loginError){ %>
        <h3 class="error">Product Already Exists!</h3>
        <% }%>
        </main>
<%- include ('partials/footer.ejs') %>