<%- include ('partials/header.ejs') %>
<body>
    <h1>Shopping Cart</h1>
    <header id="header" class="header">
        <div class="container">
            <div id="shoppingCart">
                    <div id="displayHeader">
                        <div id="cartContent" align="center">
                        </div>
                    </div>
                    <div id="cartItemsTotal">
                        
                    </div>
            </div>
        </div>
            <br>
            <button type="button" id="clearCart" class="btn btn-danger">Clear Cart</button>
        </div>
    </header>
    


<%- include ('partials/footer.ejs') %>