<%- include ('partials/header.ejs') %>
<body>
    <main>
        <h1>Tech Guys Store</h1>
        <h3>Check out some of the favorite products!</h3>
        <div class = "favoriteItemContainer" align: "center">
            <div class = "favoriteItem">
                <h5>Product Type</h5>
                <div id = "favoriteItemType1"></div>
                <h5>Manufacturer</h5>
                <div id = "favoriteItemMan1"></div>
                <h5>Description</h5>
                <div id = "favoriteItemDesc1"></div>
                <h5>Tech Guys P/N</h5>
                <div id = "favoriteItemId1"></div>
                <div id = "favoriteItemFoto1"></div>
                <br><br>
                <button class = 'item1Button btn btn-primary'>Add to cart</button>
            </div>
            <br>
            <div class = "favoriteItem">
                <h5>Product Type</h5>
                <div id = "favoriteItemType2"></div>
                <h5>Manufacturer</h5>
                <div id = "favoriteItemMan2"></div>
                <h5>Description</h5>
                <div id = "favoriteItemDesc2"></div>
                <h5>Tech Guys P/N</h5>
                <div id = "favoriteItemId2"></div>
                <div id = "favoriteItemFoto2"></div>
                <br><br>
                <button class = 'item2Button btn btn-primary'>Add to cart</button>
            </div>
            <br>
            <div class = "favoriteItem">
                <h5>Product Type</h5>
                <div id = "favoriteItemType3"></div>
                <h5>Manufacturer</h5>
                <div id = "favoriteItemMan3"></div>
                <h5>Description</h5>
                <div id = "favoriteItemDesc3"></div>
                <h5>Tech Guys P/N</h5>
                <div id = "favoriteItemId3"></div>
                <div id = "favoriteItemFoto3"></div>
                <br><br>
                <button class = 'item3Button btn btn-primary'>Add to cart</button>
            </div>
        </div>
    </main>
    <br>
<%- include ('partials/footer.ejs') %>